build/*
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*~.nib
xcuserdata
project.xcworkspace
*~
*.lock
*.DS_Store
*.swp
*.out
SmAddSample/smadd/admaker/
SmAddSample/smadd/admob/
SmAddSample/smadd/tgad/
SmAddSample/smadd/adlantis/
